* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    .wrapper_content {
        width: 1440px;
        height: 48px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;

        .summer_item {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            color: #FAFAFA;
        }

        .option_item {
            width: 80px;
            height: 25px;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            color: #FAFAFA;
        }
    }
}

.header {
    max-width: 1440px;
    height: auto;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #FFFFFF;
    margin-top: 48px;

    .header_form {
        width: 243px;
        height: 38px;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 10px;

        .navbar_inp {
            flex: 1;
            border: none;
            height: 100%;
            outline: none;
            background: none;
        }

        .navbar_btn {
            color: black;
            border: transparent;
            background: transparent;
        }
    }

    .ul_item_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        list-style: none;

        .item_list {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            transition: .5s;
            border-bottom: 1px solid transparent;

            &:hover {
                color: dodgerblue;
                transition: .5s;
                border-bottom: 1px solid dodgerblue;
            }
        }
    }
}

.main {
    width: 1440px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .main_image {
            transform: scale(.9);
            transition: .5s;
        }
    }

    .main_image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-image: url("../assets/images/Frame\ 560.png");
        background-size: cover;
        transition: .5s;
    }
}

.browse {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    transition: .5s;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: scale(.9);
        transition: .5s;
    }

    .browse_text {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #DB4444;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            width: 20px;
            height: 40px;
            background-color: #DB4444;
            border-radius: 4px;
        }
    }

    .browse_item {
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #000000;
        margin-top: 20px;
    }

    .browse_card_content {
        width: 1440px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        padding: 0px 0px 0px 20px;
        margin-top: 50px;

        .browse_card {
            width: 200px;
            height: 170px;
            border-radius: 5px;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            transition: .5s;

            &:hover {
                background-color: #DB4444;
                transition: .5s;
                border: transparent;

                i {
                    color: white;
                }

                .browse_card_list {
                    color: white;
                }
            }

            i {
                font-size: 40px;
                color: #000000;
            }

            .browse_card_list {
                color: #000000;
                font-size: 16px;
            }
        }
    }
}

.productes {
    width: 1440px;
    height: auto;
    transition: .5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0px auto;

    &:hover {
        transform: scale(.9);
        transition: .5s;
    }


    .product_red {
        color: #DB4444;
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            width: 20px;
            height: 40px;
            border-radius: 4px;
            background-color: #DB4444;
        }
    }

    .products {
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 50px;


        .pro_card {
            width: 320px;
            height: 450px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 2px 1px 7px gray;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;

            strong {
                color: #00FF66;
                font-size: 18px;
            }

            img {
                width: 100%;
                height: 200px;
                background-size: cover;
            }

            .id_content {
                display: flex;
                gap: 20px;
                align-items: center;

                p {
                    color: dodgerblue;
                    font-size: 20px;
                    font-weight: 700;
                }

                h4 {
                    font-size: 16px;
                    color: gray;
                }
            }

            .rating_cont {
                display: flex;
                gap: 20px;
                color: red;
                font-weight: 700;

                .tare_item {
                    color: black;
                }
            }

            h3 {
                font-size: 18px;
                color: dimgray;
                font-weight: 700;
            }

        }
    }
}

.categories {
    width: 1440px;
    height: 500px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: black;
    margin-top: 105px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;

    &:hover {
        transform: scale(.9);
        transition: .5s;
    }

    .categore_left_content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .green {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: #00FF66;
        }

        .cate_large_text {
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            letter-spacing: 0.04em;
            text-align: left;
            color: #FAFAFA;
            max-width: 443px;
        }

        .circle_content {
            display: flex;
            gap: 20px;

            .circle_child {
                width: 62px;
                height: 62px;
                border-radius: 50%;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3px;

                .number,
                .time {
                    font-size: 16px;
                    color: #000000;
                    font-weight: 700;
                    cursor: pointer;
                }

                .time {
                    font-size: 11px;
                    font-weight: 300;
                }
            }
        }

        .buy {
            width: 171px;
            height: 56px;
            background: #00FF66;
            color: white;
            border-radius: 4px;
            border: transparent;
            font-size: 17px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background: none;
                border: 1px solid #00FF66;
                color: #00FF66;
                transition: .5s;
            }
        }
    }

    .mp3 {
        width: 600px;
        height: 420px;
    }
}

.featured {
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    margin-top: 100px;
    transition: .5s;

    &:hover {
        transform: scale(.9);
        transition: .5s;
    }

    .feat_text {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        color: #DB4444;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .new {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .feat_text span {
            width: 20px;
            height: 40px;
            background-color: #DB4444;
            border-radius: 2px;
        }

        .new_text {
            font-size: 36px;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-align: left;
            color: #000000;
        }
    }

    .hero_grid {
        width: 1440px;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .gird_child {
            width: 680px;
            height: 700px;
            background-color: black;
            background-image: url("../assets/images/grid1.png");
            background-size: cover;
            object-fit: cover;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 25px;
            padding: 30px;

            .plays_text_one {
                color: #FAFAFA;
                font-size: 24px;
                font-weight: 600;
            }

            .plays_text_two {
                color: #FAFAFA;
                font-size: 14px;
                font-weight: 400;
                width: 220px;
                line-height: 20px;
            }

            .shop_btn {
                width: 80px;
                height: 24px;
                background-color: transparent;
                border: transparent;
                color: #F5F5F5;
                border-bottom: 1px solid #F5F5F5;
                transition: .5s;

                &:hover {
                    border: 1px solid #F5F5F5;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
        }

        .grid_right {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .gird_child2 {
                width: 690px;
                height: 335px;
                background-color: black;
                background-image: url("../assets/images/grid2.png");
                background-size: cover;
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: 20px;

                .plays_text_one {
                    color: #FAFAFA;
                    font-size: 24px;
                    font-weight: 600;
                }

                .plays_text_two {
                    color: #FAFAFA;
                    font-size: 14px;
                    font-weight: 400;
                    width: 220px;
                    line-height: 20px;
                }

                .shop_btn {
                    width: 80px;
                    height: 24px;
                    background-color: transparent;
                    border: transparent;
                    color: #F5F5F5;
                    border-bottom: 1px solid #F5F5F5;
                    transition: .5s;

                    &:hover {
                        border: 1px solid #F5F5F5;
                        transition: .5s;
                        border-radius: 5px;
                    }
                }
            }

            .right_child {
                display: flex;
                gap: 30px;

                .gird_child3,
                .gird_child4 {
                    width: 330px;
                    height: 335px;
                    background-color: black;
                    background-image: url("../assets/images/grid3.png");
                    background-size: cover;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    padding: 20px;
                    gap: 15px;

                    .plays_text_one {
                        color: #FAFAFA;
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .plays_text_two {
                        color: #FAFAFA;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }

                    .shop_btn {
                        width: 80px;
                        height: 24px;
                        background-color: transparent;
                        border: transparent;
                        color: #F5F5F5;
                        border-bottom: 1px solid #F5F5F5;
                        transition: .5s;

                        &:hover {
                            border: 1px solid #F5F5F5;
                            transition: .5s;
                            border-radius: 5px;
                        }
                    }
                }

                .gird_child4 {
                    background-image: url("../assets/images/grid4.png");
                }
            }
        }

    }

}

.service {
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 150px;
    transition: .5s;

    &:hover {
        transform: scale(.9);
        transition: .5s;
    }

    .service_child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .service_img {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }

        .service_text1 {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            color: #000000;
        }

        .service_text2 {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: #000000;
        }
    }
}

.footer {
    width: 100%;
    height: auto;
    background-color: black;

    .footer_content {
        max-width: 1440px;
        height: auto;
        border: 1px solid black;
        padding: 100px 50px 50px 50px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;

        .footer_child1,
        .footer_child2,
        .footer_child3,
        .footer_child4,
        .footer_child5 {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .footer_child1_text:first-child,
        .footer_child2_texts:first-child,
        .footer_child3_texts:first-child,
        .footer_child4_texts:first-child,
        .footer_child5_text:first-child {
            font-weight: 700;
            font-size: 24px;
            color: #FAFAFA;
            margin-bottom: 30px;
        }

        .footer_child1_text:nth-child(2) {
            font-weight: 500;
            font-size: 20px;
            color: #FAFAFA;
        }

        .footer_child1_text:nth-child(3) {
            font-weight: 400;
            font-size: 16px;
            color: #FAFAFA;
        }

        .footer_inp {
            width: 217px;
            height: 48px;
            border-radius: 5px;
            outline: none;
            border: 1px solid white;
            background: transparent;
            color: #FAFAFA;
            padding: 0px 10px;
        }

        .footer_child2_texts,
        .footer_child3_texts,
        .footer_child4_texts,
        .footer_child5_text {
            font-weight: 400;
            font-size: 16px;
            color: #FAFAFA;
            max-width: 180px;
            line-height: 22px;
        }

        .footer_child5_text {
            font-size: 12px;
            color: #FAFAFA;
        }

        .footer_icons_content {
            display: flex;
            gap: 30px;
            color: #FAFAFA;
            font-size: 20px;
        }

        .footer_icons_content>i {
            cursor: pointer;
        }

        .footer_child5 {
            .qr_code_content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .qr_code {
                    width: 90px;
                    height: 90px;
                    border-radius: 1px;
                }

                .play_store {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .play,
                    .store {
                        width: 150px;
                        height: 50px;
                        border-radius: 7px;
                        background: none;
                    }
                }
            }
        }
    }

    .f_line {
        background-color: #000000;
        width: 1440px;
        margin: 0 auto;
    }

    .f_last_text {
        text-align: center;
        color: #FAFAFA;
        padding: 20px 0px;
    }
}