<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="wrapper_content">
            <p style="color: black;">p</p>
            <p class="summer_item">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                ShopNow</p>
            <p class="option_item">English</p>
        </div>
    </div>

    <header class="header">
        <a href="#">
            <img style="cursor: pointer;" src="../assets/images/Logo.png" alt="logo">
        </a>
        <nav>
            <ul class="ul_item_content">
                <li class="item_list">Home</li>
                <li class="item_list">Contact</li>
                <li class="item_list">About</li>
                <li class="item_list">Sign Up</li>
            </ul>
        </nav>
        <form class="header_form">
            <input class="navbar_inp" type="search" placeholder="What are you looking for?">
            <button class="navbar_btn"><i class="bi bi-search"></i></button>
        </form>
    </header>

    <main class="main">
        <div class="main_image"></div>
    </main>

    <section class="browse">
        <p class="browse_text"><span></span>Categories</p>
        <p class="browse_item">Browse By Category</p>
        <div class="browse_card_content">
            <div class="browse_card">
                <i class="bi bi-phone"></i>
                <p class="browse_card_list">Phones</p>
            </div>
            <div class="browse_card">
                <i class="bi bi-laptop"></i>
                <p class="browse_card_list">Computers</p>
            </div>
            <div class="browse_card">
                <i class="bi bi-watch"></i>
                <p class="browse_card_list">SmartWatch</p>
            </div>
            <div class="browse_card">
                <i class="bi bi-camera"></i>
                <p class="browse_card_list">Camera</p>
            </div>
            <div class="browse_card">
                <i class="bi bi-headphones"></i>
                <p class="browse_card_list">HeadPhones</p>
            </div>
            <div class="browse_card">
                <i class="bi bi-controller"></i>
                <p class="browse_card_list">Gaming</p>
            </div>
        </div>
    </section>

    <section class="productes">
        <p class="product_red"><span></span>Our Products</p>
        <div class="products"></div>
        <button class="see_more">See more</button>
    </section>

    <section class="categories">
        <div class="categore_left_content">
            <span class="green">Categories</span>
            <h2 class="cate_large_text">Enhance Your Music Experience</h2>
            <div class="circle_content">
                <div class="circle_child">
                    <p class="number">23</p>
                    <span class="time">Hours</span>
                </div>
                <div class="circle_child">
                    <p class="number">05</p>
                    <span class="time">Days</span>
                </div>
                <div class="circle_child">
                    <p class="number">59</p>
                    <span class="time">Minutes</span>
                </div>
                <div class="circle_child">
                    <p class="number">35</p>
                    <span class="time">Seconds</span>
                </div>
            </div>
            <button class="buy">Buy Now!</button>
        </div>
        <img src="../assets/images/kalonka.png" alt="img" class="mp3">
    </section>

    <section class="featured">
        <div class="new">
            <p class="feat_text"><span></span> Featured</p>
            <h3 class="new_text">New Arrival</h3>
        </div>
        <div class="hero_grid">
            <div class="gird_child">
                <p class="plays_text_one">PlayStation 5</p>
                <p class="plays_text_two">Black and White version of the PS5 coming out on sale.</p>
                <button class="shop_btn">Shop Now</button>
            </div>
            <div class="grid_right">
                <div class="gird_child2">
                    <p class="plays_text_one">Women’s Collections</p>
                    <p class="plays_text_two">Featured woman collections that give you another vibe.</p>
                    <button class="shop_btn">Shop Now</button>
                </div>
                <div class="right_child">
                    <div class="gird_child3">
                        <p class="plays_text_one">Speakers</p>
                        <p class="plays_text_two">Amazon wireless speakers</p>
                        <button class="shop_btn">Shop Now</button>
                    </div>
                    <div class="gird_child4">
                        <p class="plays_text_one">Perfume</p>
                        <p class="plays_text_two">GUCCI INTENSE OUD EDP</p>
                        <button class="shop_btn">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service">
        <div class="service_child">
            <div class="img_bg">
                <img src="../assets/images/servis1.png" alt="img" class="service_img">
            </div>
            <p class="service_text1">FREE AND FAST DELIVERY</p>
            <p class="service_text2">Free delivery for all orders over $140</p>
        </div>
        <div class="service_child">
            <div class="img_bg">
                <img src="../assets/images/servis2.png" alt="img" class="service_img">
            </div>
            <p class="service_text1">24/7 CUSTOMER SERVICE</p>
            <p class="service_text2">Friendly 24/7 customer support</p>
        </div>
        <div class="service_child">
            <div class="img_bg">
                <img src="../assets/images/servis3.png" alt="img" class="service_img">
            </div>
            <p class="service_text1">MONEY BACK GUARANTEE</p>
            <p class="service_text2">We reurn money within 30 days</p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_content">
            <div class="footer_child1">
                <p class="footer_child1_text">Exclusive</p>
                <p class="footer_child1_text">Subscribe</p>
                <p class="footer_child1_text">Get 10% off your first order</p>
                <input class="footer_inp" type="email" placeholder="Enter your email">
            </div>
            <div class="footer_child2">
                <p class="footer_child2_texts">Support</p>
                <p class="footer_child2_texts">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p class="footer_child2_texts">exclusive@gmail.com</p>
                <p class="footer_child2_texts">+88015-88888-9999</p>
            </div>
            <div class="footer_child3">
                <p class="footer_child3_texts">Account</p>
                <p class="footer_child3_texts">My Account </p>
                <p class="footer_child3_texts">Login / Register</p>
                <p class="footer_child3_texts">Cart</p>
                <p class="footer_child3_texts">Wishlist</p>
                <p class="footer_child3_texts">Shop</p>
            </div>
            <div class="footer_child4">
                <p class="footer_child4_texts">Quick Link</p>
                <p class="footer_child4_texts">Privacy Policy </p>
                <p class="footer_child4_texts">Terms Of Use</p>
                <p class="footer_child4_texts">FAQ</p>
                <p class="footer_child4_texts">Contact</p>
            </div>
            <div class="footer_child5">
                <p class="footer_child5_text">Download App</p>
                <p class="footer_child5_text">Save $3 with App New User Only</p>
                <div class="qr_code_content">
                    <img class="qr_code" src="../assets/images/Qr Code.png" alt="img">
                    <div class="play_store">
                        <img class="play" src="../assets/images/GooglePlay.png" alt="img">
                        <img class="store" src="../assets/images/AppStore.png" alt="img">
                    </div>
                </div>
                <div class="footer_icons_content">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-linkedin"></i>
                </div>
            </div>
        </div>
        <hr class="f_line">
        <p class="f_last_text">Copyright Rimel 2022. All right reserved</p>
    </footer>
    <script src="../js/dashboard.js"></script>
</body>

</html>